<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612912913327-d740g3f3gvfeps8a2mv0s77tpo8jtfer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612912913327-d740g3f3gvfeps8a2mv0s77tpo8jtfer</string>
	<key>API_KEY</key>
	<string>AIzaSyA51yMZjz0GSsb1IlRuKsbwbspjinVDYB8</string>
	<key>GCM_SENDER_ID</key>
	<string>612912913327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atk721.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-ca88c</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-ca88c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:612912913327:ios:310edbb14be1441829ad5a</string>
	<key>DATABASE_URL</key>
	<string>https://tinderclone-ca88c.firebaseio.com</string>
</dict>
</plist>
